{% extends "./base.html" %}
{% load static %}

{% block content %}

  <div class="row mt-4 mb-4">
    <div class="col-md">
      <div class="card card-body">
        <h3 class="card-title text-center">Product Information</h3>
        <form method="post">
          {% csrf_token %}
          {% for field in form %}
          <div class="fieldWrapper">
              {{ field.errors }}
              <div class="row" style="margin: 20px">
                {{ field.label_tag}} {{ field }}
              </div>
          </div>
          {% endfor %}

          <div class="row justify-content-center">
            <button class="btn btn-primary center mt-4" type="submit" name="btnSave">Save Product</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}